<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Test Suite" parallel="tests" thread-count="3">
    <listeners>
        <listener class-name="com.solutions.it.listeners.TestListener"/>
        <listener class-name="com.solutions.it.listeners.RetryListener"/>
    </listeners>
    
    <test name="Login Test" parallel="methods" thread-count="1">
        <classes>
            <class name="com.solutions.tests.OrangeHrmTests">
                <methods>
                    <include name="testValidLogin"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <test name="Invalid Login Test" parallel="methods" thread-count="1">
        <classes>
            <class name="com.solutions.tests.OrangeHrmTests">
                <methods>
                    <include name="testInvalidLogin"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <test name="Navigation Test" parallel="methods" thread-count="1">
        <classes>
            <class name="com.solutions.tests.OrangeHrmTests">
                <methods>
                    <include name="testNavigateToAdminPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite> 